doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title DTC FundRaiser
        style
            include ../static/style.css
    body
        nav#navbar
            ul#navigation
                div#logo DTC FundRaiser
                li #[a(href="/") Home]
                li #[a(href="#about") About Us]
            a#navbtn.btn(href="/donate") Donate
        section#main
            h1#heading Raising Funds
            p#mainPara Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est optio ipsam nostrum aperiam aliquid mollitia dignissimos error quia harum illum laudantium itaque, aspernatur quibusdam doloribus esse consectetur voluptatibus beatae eos at. Veniam, quia minima? Cupiditate, enim dolorum! Itaque eligendi non, sapiente mollitia, alias voluptas aspernatur vel ducimus eaque impedit, architecto vero libero earum modi at? Modi ad voluptates voluptatibus dolore, aut error earum dignissimos in maxime quasi. Cum numquam laudantium vitae labore nulla distinctio quaerat dolorem, illo voluptatum?
            div#donate
                a.btn(href="/donate") Donate Now
            div#image
                img#image(src="../static/image-1.jpg", alt="Error Loading Image")
        div#about
            h3 About Us
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, corrupti nam! Totam dolorem, voluptas odit sequi vitae ipsa temporibus blanditiis soluta adipisci assumenda? Rerum error nemo eos unde vero tempora odio in aut similique aperiam, earum pariatur repellat doloremque ut debitis. Odio, fugiat dolore?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptatibus facere recusandae! Amet, porro? Unde, error ipsam? Quae possimus blanditiis laudantium nostrum. Iure ratione id eos commodi, itaque culpa blanditiis autem mollitia ullam sequi! Et aliquid nemo architecto vero amet nihil placeat, accusantium quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ratione, illum modi vero ipsam soluta autem consectetur voluptate consequuntur tenetur? Exercitationem mollitia ipsam id, rerum expedita labore culpa amet voluptatum soluta rem deleniti ab iste. Asperiores ut nesciunt eum alias porro odit quod explicabo?
            img(src="../static/image-2.jpg", alt="Error Loading Image")